---
- name: Install Apache Tomcat9 using ansible
  hosts: 127.0.0.1
  remote_user: ubuntu
  become: true
  tasks:
    - name: Update the System Packages
      apt:
        upgrade: dist
        update_cache: yes
        
    - name: Install JAVA
      apt:
        name: openjdk-8-jre

    - name: download tomcat9
      get_url:
        url: https://mirrors.estointernet.in/apache/tomcat/tomcat-9/v9.0.62/bin/apache-tomcat-9.0.62.tar.gz
        dest: /usr/

    - name: extracting tomcat9
      unarchive:
        src: /usr/apache-tomcat-9.0.62.tar.gz
        dest: /usr/
        remote_src: yes



