---
- name: Install Apache Tomcat9 using ansible
  hosts: 127.0.0.1
  remote_user: ubuntu
  become: true
  tasks:
    - name: Install JAVA
      apt:
        name: openjdk-11-jre
        state: present

    - name: Create a Tomcat User
      user:
        name: tomcat
 
    - name: Create a Tomcat Group
      group:
        name: tomcat

    - name: Create a Tomcat Directory
      file:
        path: /opt/tomcat9
        owner: tomcat
        group: tomcat
        mode: 755
        recurse: yes

    - name: download & unarchive tomcat9
      unarchive:
        src: https://mirrors.estointernet.in/apache/tomcat/tomcat-9/v9.0.62/bin/apache-tomcat-9.0.62.tar.gz
        dest: /opt/tomcat9
        remote_src: yes
        extra_opts: [--strip-components=1]


